@mixin pixelArt($matrix, $size, $colors) {
  $ret: "";

  @for $i from 1 through length($matrix) {
    $row: nth($matrix, $i);

    @for $j from 1 through length($row) {
      $dot: nth($row, $j);

      @if $dot  !=0 {
        @if $ret  !="" {
          $ret: $ret +","
        }

        $color: nth($colors, $dot);
        $ret: $ret + ($j * $size) + " " + ($i * $size) + " " + $color;
      }
    }
  }

  box-shadow: unquote($ret + ";");
}

$lugia-colors: (
  #fff,
  #cdcddd,
  #777788,
  #444454,
  #fff
);
$lugia: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 4, 0, 0),
  (0, 0, 0, 0, 0, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 3, 3, 4, 1, 4, 0),
  (0, 0, 0, 4, 4, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 0, 0),
  (0, 0, 0, 4, 1, 4, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 4, 4, 0),
  (0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 0, 0, 0, 4, 4, 0, 2, 4, 4, 4, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 4, 4, 3, 3, 1, 3, 4, 4, 4, 4, 1, 1, 1, 2, 4, 0, 0, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 4, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 1, 4, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 4, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 0, 4, 4, 0, 0, 4, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 2, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 1, 1, 1, 4, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 4, 4, 2, 4, 4, 4, 0, 0, 4, 4, 0, 0, 0),
  (0, 0, 4, 4, 1, 1, 1, 1, 1, 4, 1, 2, 2, 2, 4, 2, 2, 1, 1, 1, 2, 4, 4, 4, 4, 1, 4, 4, 2, 2, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 1, 4, 4, 4, 2, 4, 4, 4, 0, 4, 4, 2, 2, 1, 1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 4, 4, 4, 2, 2, 4, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 2, 4, 2, 1, 4, 0, 0),
  (0, 4, 4, 1, 1, 1, 4, 4, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 1, 1, 1, 4, 1, 1, 1, 4, 2, 4, 0, 0),
  (0, 4, 4, 1, 1, 4, 4, 5, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 4, 1, 1, 4, 4, 0, 0, 0),
  (0, 4, 1, 1, 1, 4, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 2, 2, 4, 4, 4, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
);

$pink-lugia-colors: (
  #fff,
  #ddcdcd,
  #b65252,
  #763232,
  #fff
);
$pink-lugia: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 4, 0, 0),
  (0, 0, 0, 0, 0, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 3, 3, 4, 1, 4, 0),
  (0, 0, 0, 4, 4, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 0, 0),
  (0, 0, 0, 4, 1, 4, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 4, 4, 0),
  (0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 0, 0, 0, 4, 4, 0, 2, 4, 4, 4, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 4, 4, 3, 3, 1, 3, 4, 4, 4, 4, 1, 1, 1, 2, 4, 0, 0, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 4, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 1, 4, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 4, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 0, 4, 4, 0, 0, 4, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 2, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 1, 1, 1, 4, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 4, 4, 2, 4, 4, 4, 0, 0, 4, 4, 0, 0, 0),
  (0, 0, 4, 4, 1, 1, 1, 1, 1, 4, 1, 2, 2, 2, 4, 2, 2, 1, 1, 1, 2, 4, 4, 4, 4, 1, 4, 4, 2, 2, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 1, 4, 4, 4, 2, 4, 4, 4, 0, 4, 4, 2, 2, 1, 1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 4, 4, 4, 2, 2, 4, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 2, 4, 2, 1, 4, 0, 0),
  (0, 4, 4, 1, 1, 1, 4, 4, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 1, 1, 1, 4, 1, 1, 1, 4, 2, 4, 0, 0),
  (0, 4, 4, 1, 1, 4, 4, 5, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 4, 1, 1, 4, 4, 0, 0, 0),
  (0, 4, 1, 1, 1, 4, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 2, 2, 4, 4, 4, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
);

$dark-lugia-colors: (
  #fff,
  #cdcddd,
  #777788,
  #444454,
  #fff
);
$dark-lugia: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 4, 0, 0),
  (0, 0, 0, 0, 0, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 3, 3, 4, 1, 4, 0),
  (0, 0, 0, 4, 4, 4, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 0, 0),
  (0, 0, 0, 4, 1, 4, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 1, 4, 4, 4, 0),
  (0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 0, 0, 0, 4, 4, 0, 2, 4, 4, 4, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 0, 4, 4, 3, 3, 1, 3, 4, 4, 4, 4, 1, 1, 1, 2, 4, 0, 0, 0, 0),
  (0, 0, 0, 0, 4, 2, 1, 1, 1, 1, 4, 0, 0, 4, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 1, 4, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 4, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 2, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 0, 4, 4, 0, 0, 4, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 2, 4, 4, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 1, 1, 1, 4, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 4, 4, 2, 4, 4, 4, 0, 0, 4, 4, 0, 0, 0),
  (0, 0, 4, 4, 1, 1, 1, 1, 1, 4, 1, 2, 2, 2, 4, 2, 2, 1, 1, 1, 2, 4, 4, 4, 4, 1, 4, 4, 2, 2, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 1, 4, 4, 4, 2, 4, 4, 4, 0, 4, 4, 2, 2, 1, 1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 4, 0, 0),
  (0, 0, 4, 1, 1, 1, 4, 4, 4, 2, 2, 4, 0, 0, 0, 0, 0, 4, 4, 2, 1, 1, 1, 1, 1, 1, 2, 4, 2, 1, 4, 0, 0),
  (0, 4, 4, 1, 1, 1, 4, 4, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 1, 1, 1, 4, 1, 1, 1, 4, 2, 4, 0, 0),
  (0, 4, 4, 1, 1, 4, 4, 5, 4, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 1, 1, 4, 1, 1, 4, 4, 0, 0, 0),
  (0, 4, 1, 1, 1, 4, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 2, 2, 4, 4, 4, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 4, 1, 1, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
);

$hitokage-colors: (
  #000,
  #f3912b,
  #d26410,
  #fc3b22,
  #f8efb0,
  #d0c160,
  #fce431
);
$hitokage: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 2, 3, 1, 0, 0, 0, 0, 0, 0, 0, 1, 4, 1, 0, 0, 0),
  (0, 0, 0, 1, 2, 2, 2, 2, 2, 3, 1, 0, 0, 0, 0, 0, 0, 1, 4, 4, 1, 0, 0),
  (0, 0, 0, 1, 2, 2, 2, 2, 2, 3, 1, 0, 0, 0, 0, 0, 0, 1, 4, 4, 1, 0, 0),
  (0, 0, 1, 2, 2, 2, 3, 2, 2, 2, 3, 1, 0, 0, 0, 0, 1, 4, 4, 2, 4, 1, 0),
  (0, 1, 2, 2, 2, 3, 0, 1, 2, 2, 3, 1, 0, 0, 0, 0, 1, 4, 2, 7, 4, 1, 0),
  (0, 1, 2, 2, 2, 3, 1, 1, 2, 3, 3, 3, 1, 0, 0, 0, 1, 4, 7, 7, 4, 1, 0),
  (0, 1, 2, 2, 2, 2, 1, 1, 2, 3, 3, 3, 1, 0, 0, 0, 0, 1, 7, 6, 1, 0, 0),
  (0, 0, 1, 3, 2, 2, 2, 2, 3, 3, 3, 3, 3, 1, 0, 0, 0, 1, 2, 1, 0, 0, 0),
  (0, 0, 0, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 0, 1, 2, 2, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 1, 3, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 5, 1, 2, 3, 3, 3, 3, 1, 3, 3, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 5, 5, 1, 1, 3, 3, 3, 1, 3, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 0, 1, 5, 5, 5, 3, 3, 3, 3, 3, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 1, 6, 6, 6, 3, 3, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
);

.lugia {
  @extend .valid;
  @include pixelArt($lugia, 10px, $lugia-colors);
}

.pink-lugia {
  @extend .valid;
  @include pixelArt($pink-lugia, 10px, $pink-lugia-colors);
}

.dark-lugia {
  @extend .valid;
  @include pixelArt($dark-lugia, 10px, $dark-lugia-colors);
}

.hitokage {
  @extend .valid;
  @include pixelArt($hitokage, 10px, $hitokage-colors);
}

.valid {
  width: 10px;
  height: 10px;
}

.void {
  width: 350px;
  height: 250px;
}

.pokemons {
  margin: 10px auto 0px;
}

.pokemon {
  float: left;
}
